<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Verify your Account</title>
    
   <script src="https://kit.fontawesome.com/7feae977fb.js" crossorigin="anonymous"></script>
   <style>
    body{
        margin: 5%;
        padding: 30px;
        background-color: yellowgreen;
    }
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        color:blue;
        font-size: 80px;
    }
    
</style>
</head>
<body>
    
<center><h1>Welcome  <br/></h1><br/>
    
    <h2><%=title%></h2>
<br/>
<hr/><h3>Click here to <a href="http://localhost:4000/homepage">LogIn</a> </h3></center>
</body>
</html>
