<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset link</title>
</head>
<style>
    
    body{
        margin: 5%;
        padding: 30px;
        background-color: yellowgreen;
    }
    h1{
        color:blue;
        font-size: 60px;
        background-color: yellowgreen;
    }

</style>
<body>
    <body style="background-color: aqua;margin: 10%;padding: 10%;">
        <center><h1>Welcome  <%=details.name%><br/>
        </h1></center>
        
        <center><button style="border-radius: 20px;font-size: 30px;background-color: yellow;font-weight: bold;color: brown;"> <a href="<%=details.link%>">Verify Account</a></button></center>
        
        <h3>Click here to reset your password <%=details.link%> </h3>
        
    
</body>
</html>